* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFF;
}

body {
    overflow: hidden;
    background-color: #111;
}

main {
    max-width: 820px;
    margin: auto;
    padding-top: 95px;
}

h1 {
    margin-bottom: 110px;
}

section {
    display: flex;
    justify-content: space-between;

    & .info {
        width: 330px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    & P {
        font-weight: 300;
    }

    & a {
        padding: 10px 20px;
        background-color: #1e1e1e;
        text-decoration: none;
        text-align: center;
        border-radius: 6px;
    }

    & .cards {
        display: flex;
        flex-direction: column;
        gap: 30px;
        overflow: auto;
        height: 100vh;
        padding-bottom: 300px;
        scrollbar-color: #1e1e1e transparent;
    }

    & .card {
        display: flex;
        width: 360px;
        border-radius: 6px;
        background-color: #373737;
        padding: 14px;
        border: 1px solid #d6d6d62c;
        box-shadow: 10px 10px 10px #0000002c;
        justify-content: space-between;
    }

    & img {
        width: 150px;
        border-radius: 6px;
    }

    & h2 {
        font-size: 18px;
        margin-top: 12px;
        align-items: center;
        font-weight: normal;
    }

    & .content {
        display: flex;
        flex-direction: column;
        gap: 15px;

        & p {
            width: 150px;
            display: flex;
            justify-content: center;
            color: #bdbdbd;
        }

        & span {
            font-size: 12px;
            color: #bdbdbd;
        }
    }

}